.nav-item a.nav-link:hover {
  background-color: var(--cgds-navbar-link-hover-bg) !important;
  color: var(--cgds-text-color-theme) !important;
}

.nav-item .dropdown-toggle.show {
  color: var(--cgds-text-color-theme) !important;
  font-weight: 600;
}

a.nav-link[target="_blank"]::after {
  content: none;
}

header .logo-title {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}

header ul.navbar-nav {
  display: none;
}

.site-title {
  color: var(--cgds-text-color-theme);
}

.cgds.dropdown .dropdown-menu a.dropdown-item.active {
  color: var(--cgds-text-color-theme);
  font-weight: 600;
}