.--cgds-gray-styles,
:root {
  --cgds-gray: var(--cgds-text-color);
}

.--cgds-gray-600-styles,
:root {
  --cgds-gray-600: var(--cgds-text-color);
}

.color-styles,
a,
.blockquote-footer,
.figure-caption,
.btn-link,
.btn-link:disabled,
.btn-link.disabled,
.btn-link,
.btn-link:disabled,
.btn-link.disabled,
.dropdown-item,
.dropdown-header,
.dropdown-item-text,
.cgds.fileupload-list .fileupload-list-item .filename,
.nav-link,
.nav-link.disabled,
.nav-tabs .nav-link.disabled,
.breadcrumb-item+.breadcrumb-item::before,
.breadcrumb-item.active,
.breadcrumb-item+.breadcrumb-item::before,
.page-item.disabled .page-link,
.list-group-item.disabled,
.list-group-item:disabled,
.alert-primary,
.alert-secondary,
.alert-success,
.alert-info,
.alert-warning,
.alert-danger,
.alert-light,
.alert-light i:not(.primary),
.alert-dark,
.alert-dark i:not(.primary),
.cgds.sidenav .sidenav-item .collapse a.nav-link.disabled,
.cgds.sidenav .sidenav-item .collapse.show a.nav-link.disabled,
.cgds.sidenav .sidenav-item .collapsing a.nav-link.disabled,
.toast-header {
  color: var(--cgds-text-color);
}

.box-shadow-styles,
.cgds.card[variant*=card-action]:hover,
.cgds.card[variant*=card-action].is-active {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15),inset 0px 0px 0px 2.1px var(--cgds-text-color);
}

.border-color-styles,
.cgds.toast {
  border-color: var(--cgds-text-color);
}

.border-top-color-styles,
.bs-tooltip-top .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
  border-top-color: var(--cgds-text-color);
}

.border-right-color-styles,
.bs-tooltip-end .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
  border-right-color: var(--cgds-text-color);
}

.border-bottom-color-styles,
.bs-tooltip-bottom .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
  border-bottom-color: var(--cgds-text-color);
}

.border-left-color-styles,
.bs-tooltip-start .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
  border-left-color: var(--cgds-text-color);
}

.background-color-styles,
.tooltip-inner {
  background-color: var(--cgds-text-color);
}