.cgds.navbar .nav-item a.nav-link.dropdown-toggle.show {
  color: var(--cgds-nav-text-color) !important;
  font-weight: 600;
}

.cgds.navbar .nav-item a.nav-link:hover {
  background-color: var(--cgds-navbar-link-hover-bg) !important;
  color: var(--cgds-nav-text-color) !important;
}

.social-icon ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; 
}

.social-icon li {
  margin-right: 10px;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

