.cgds.navbar {
    background-color: var(--cgds-primary);
}

.cgds.navbar header {
    background-color: var(--cgds-primary) !important;
}

.cgds.navbar .nav-item {
    a.nav-link {
        color: var(--cgds-nav-text-color) !important;
    }
}
